# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
venv/
env/
.env/

# Jupyter Notebooks
.ipynb_checkpoints/

# Distribution / packaging
*.egg-info/
dist/
build/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/
